.gameplay-container {
    max-width: 97% !important;
    padding-top: 40px;
}

.textbox-user-input {
    width: 400px;
    height: 48px;
    padding: 0px 14px;
    background: rgba(255,255,255, 0.7);
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;

    &:focus {
        outline: none;
    }
}

.target-text {
    color: #fff;
}

.header-container, .gameover {
    color: #ff5155;
}

.hidden {
    display: none !important;
}